/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
.logo{
font-family: 'Potta One', cursive;
}
.bg_blue{
	background: #4D90FE;
	height: 100px
}
.lgw{
	color: white;
	font-size: 38px;
}
.FullVH{
	height: 100vh;
}
.TopHome{
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.fontr{
	font-family: helvetica;
	font-size: 13px;
}
.DownHome{
	height: 50vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}
.btnBoard {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #4D90FE 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin: 5px;
	font-weight: bold;
	font-family:Arial;
	font-size:18px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.btnBoard:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #4D90FE 100%);
	background-color:#0061a7;
}
.btnBoard:active {
	position:relative;
	top:1px;
}
.HomeChoice{
	background: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 15px;
	border-radius: 5px;
	width: 285px;
}
.sChoice{
	font-size: 28px;
}
.SelectBoard{
	display: flex;
	justify-content: space-between;
}
.copyright{
	margin: 5px;
	color: white;
	font-family: helvetica
}
.putLog{
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #0061a7;
}
.errorLog{
	margin-bottom: 10px;
	margin-top: 5px;
	height: 15px;
	font-family: helvetica;
	color: red;
	font-weight: bold;
}
.LogPos{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.SubLog{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wSub{
	font-family: helvetica;
	margin: 5px;
	margin-top: 15px;
}
.BlockCGV{
	display: flex;
	align-items: center;
	height: 20px;
}
.BlockCGV label{
	font-family: helvetica;
}
.subCGV{
	margin: 0;
	margin-right: 5px;
}
.GuessBoard{
	height: 100vh;
	background: #4D90FE;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.lwht{
	font-size: 28px;
	padding: 10px;
}
.lwht .fontr{
	font-size: 10px;
}
.cGuess{
	text-align: center;
}
.GuessBlock{
	display: flex;
	justify-content: center;
	align-items: center;
}
.GuessBox{
	background: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 15px;
	border-radius: 5px;
	width: 285px;
}
.TitleStape{
	color: #0061a7;
	font-weight: bold;
	font-family: helvetica;
	font-size: 20px;
	margin-bottom: 15px;
}
.putSond{
	padding: 10px;
	border: 1px solid #0061a7;
	color: #0061a7;
	border-radius: 5px;
}
.stapeboard{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.surveyResult{
	border: 1px solid #0061a7;
	padding: 5px;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
}
.surveyResult p{
	position: absolute;
}
.SurveyBox{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid red; */
}
.SurveyTitle{
	font-family: helvetica;
	font-size: 32px;
	color: white;
	font-weight: bold;
	margin-bottom: 15px;
}
.radio_guest_survey{
	display: flex;
	justify-content: space-between;
	font-family: helvetica;
	border: 1px solid #0061a7;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.sub_guest_survey{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.sub_guest_survey p{
	margin-right: 15px;
	color: red;
}
.specm{
	margin-bottom: 25px;
}
.ResultProgress{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.ProgressSurveyBord{
	height: 10px;
	width: 220px;
	border: 1px solid #0061a7;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.ResultTitle{
	font-family: helvetica;
	color: #0061a7;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}
.ProgressSurvey{
	height: 10px;
}
.maybe{
	background: #0061a7;
}
.noway{
	background: red;
}
.yesway{
	background: green;
}
.nb_result{
	background: #4D90FE;
	font-weight: bold;
	font-family: helvetica;
	color: white;
	border-radius: 100%;
	transform: scale(1.1);
	min-width: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nb_result p{
	font-size: 10px;
	margin: 0;
	padding: 3px;
}
.nsurv{
	width: 255px;
	margin-top: 15px;
	margin-bottom: 5px;
}
.validate_survey{
	display: flex;
	justify-content: flex-end;
}
.rsrv{
	height: 150px;
}
.ResultForm{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 150px;
}
.ShowNameBox{
	position: absolute;
	height: 100vh;
	background: black;
	width: 100%;
	z-index: 5000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: helvetica;
}
.btnUP{
	background: white;
	color: #0061a7;
	border-radius: 100%;
	padding: 5px;
	font-weight: bold;
	font-size: 36px;
	margin-top: 35px;
}
.btnUP p{
	transform: translateY(5px);
}
.NameResult{
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #0061a7;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0061a7 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ResultMessageContainer{
	position: absolute;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}
.ResultMessageBox{
	background: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 15px;
	border-radius: 5px;
	width: 285px;
	border: 1px solid #0061a7;
	display: flex;
	justify-content: center;
	align-items: center;
}
